/Quote4AllPurpose/nbproject/private/
/Quote4AllPurpose/Quote4AllPurpose-war/nbproject/private/
/Quote4AllPurpose/Quote4AllPurpose-ejb/nbproject/private/
/Quote4AllPurpose/Quote4AllPurpose-ejb/build/
/Quote4AllPurpose/Quote4AllPurpose-war/build/
/Quote4AllPurpose/dist/
/Quote4AllPurpose/build/
/Quote4AllPurpose/Quote4AllPurpose-ejb/dist/
/Quote4AllPurpose/Quote4AllPurpose-war/dist/
/Quote4All/nbproject/private/
/Quote4All/Quote4All-war/nbproject/private/
/Quote4All/Quote4All-ejb/nbproject/private/
/Quote4All/Quote4All-ejb/build/
/Quote4All/Quote4All-war/build/
/Quote4All/build/
/Quote4All/Quote4All-war/dist/
/Quote4All/Quote4All-ejb/dist/